* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 246, 246);
}

#navbar {
  height: 50px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: right;
  gap: 25px;
  border: 1px solid black;
}

#navbar > div {
  height: 90%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar > div > a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

#login-form-div {
  text-align: center;
}

form {
  width: 380px;
  border: 1px solid rgb(230, 230, 230);
  margin: 3% auto;
  padding: 3%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  display: block;
  margin: 25px auto;
  font-size: 20px;
  padding: 2%;
}

#submit {
  width: 70%;
  margin: auto;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 15px;
}
